#KOCScoreModal #txtScore, #OCDScoreModal #txtScore, #SCScoreModal #txtScore, #formOCD #txtScore {
    border: none;
    font-size: 2em;
    width: 85px;
}

#KOCScoreModal #txtReward, #OCDScoreModal #txtReward, #SCScoreModal #txtReward, #formOCD #txtReward {
    border: none;
    font-size: 2em;
    width: 100px;
    color: green;
}
#KaizenBenefitModal #txtBenefit {
    border: none;
    box-shadow:none;
    font-size: 2em;
    color: green;
}
#KaizenDataTable .ScoreContinue{
    color: green;
}
#KaizenDataTable .ScoreNotContinue {
    color: #a5611f;
}