.srRate{
    height : 20px;
    width : 20px;
}
.srDoneRate{
    height : 35px;
    width : 35px;
}
.srEdit:hover,.srCancel:hover,.srContinue:hover,.srStart:hover,.srHold:hover,.srDone:hover,.srReportDisplay:hover{
    cursor: pointer;
    color : aliceblue;
}

#srReportFormDialog .modal-dialog{
    height:auto;
    width:auto;
    max-height: 100%;
    max-width: 95%;
}

#imgCheck:hover,#imgApprove:hover{
    cursor:pointer;
    opacity:0.7;
}

#sidebar-wrapper ul li{
    width: 100%;
}
#selITStaff{
    width : 175px;
}
#selUserName {
    width: 250px;
}